body {
    background-color: #F2E6D8;
    margin: 0;
    padding: 20px;
    font-family: "Cormorant Garamond", serif;
}

.Titulo {
    color: #593E2E;
    font-size: 60px;
    text-align: center;
}

.fecha {
    font-style: italic;
    text-align: center;
}

#seccion-principal {
    text-align: center;
    margin-bottom: 40px;
}

#entrance {
    width: 500px;
}

.introduccion {
    font-size: 22px;
    width: 80%;
    margin: 20px auto;
}

.seccion {
    width: 80%;
    margin: 30px auto;
}

.seccion h2 {
    color: #555934;
    font-size: 35px;
    border-bottom: 2px solid #593E2E;
}

.seccion p {
    font-size: 20px;
}

.bloque-imagenes {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.bloque-imagenes .imagen-noticia {
    width: 45%;
}

.imagen-derecha {
    float: right;
    width: 250px;
    margin-left: 20px;
}

.imagen-centrada {
    display: block;
    margin: 20px auto;
    width: 250px;
}

.imagen-noticia {
    height: auto;
    border: 5px solid #4D353A;
    border-radius: 5%;
}

.source {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}